/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import '~antd/dist/antd.css';

body {
  margin: 0 auto;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color:rgb(255, 255, 255);
}
/* PresetServer Component */
.preset-server{
  width: 80%;
  height : 50px;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  margin : 2px auto;
}
/* Sender Component */
.sender-component,.chat-log-window{
  width: 80%;
  margin: 5px auto;
}
.sender-section{
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  /* border : 2px solid black; */
}
.author-color{
  height : 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* border : 2px solid black; */
}
.client-color,.server-color{
  height: 25px;
  width: 80px;
  text-align: center;
}
.client-color{
  background-color: lightyellow;
}
.server-color{
  background-color: bisque;
}
/* ChatLog Component */
.chat-log-window{
  height: 450px;
  border-radius: 10px;
  background-color:aliceblue;
  overflow: scroll;
  box-shadow: 4px 4px 4px  rgb(155, 163, 231);
  /* border : 2px solid black; */
}

.chat-log-window::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.chat-log-window::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
.chat-log-window::-webkit-scrollbar-thumb {
  background: lightgray;
}

/* Chat Component */
.chat-list{
  width: 100%;
  /* border: 2px solid black; */
}
.chat-list-item{
  width: 100%;
  height:50px;
  box-sizing: border-box;
  /* border: 2px solid black; */
}
.chat-flex-client,.chat-flex-server{
  width: 100%;
  min-height: 35px;
  margin: 12px auto;
  display: flex;
  flex-direction: row;
  /* border: 2px solid green; */
}
.chat-flex-client{
  justify-content: flex-start;
}
.chat-flex-server{
  justify-content: flex-end;
}
.chat{
  min-width: 350px;
  font-size: 1.2rem;
  /* border: 2px solid blue; */
}
.msg-date-time{
  font-size: 0.8rem;
}
